<p-toast></p-toast>
<div class="container">
  <div class="forgot_password">
    <div class="forgot_password-text text-center">
      <h3>Quên mật khẩu</h3>
      <p>Chúng tôi sẽ gửi cho bạn một email có liên kết để đặt lại mật khẩu của bạn. Vui lòng kiểm tra kỹ địa chỉ email của bạn bên dưới, sau đó click vào 'Gửi'.</p>
    </div>
    <form action="">
      <div class="mb-3">
        <label for="username" class="form-label">User name</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="forgotPasswordRequest.username" [ngModelOptions]="{standalone: true}" >
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="forgotPasswordRequest.email" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="forgot_password-form-button text-center">
        <button class="btn btn-primary" (click)="send()">Gửi</button>
      </div>
    </form>
  </div>
</div>
