<!--Main Navigation-->
<admin-header></admin-header>
<!--Main Navigation-->

<!--Main layout-->
<p-toast></p-toast>
<main>
  <div class="row mt-1">
    <div class="col-lg-12 col-sm-12">
      <div class="container bg-white mt-3 mb-5" style="border-radius: 2%">
        <h2 mat-dialog-title class="text-center mt-3" style="color: darkblue; font-size: 35px">THÊM NHÂN VIÊN</h2>
        <div class="row mt-3">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <form class="row g-3 was-validated"  [formGroup]="updateAccount" >
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="fullname" class="form-label">Tên Nhân Viên: <span
                    style="color: red">(*)</span></label>
                  <input type="text" class="form-control" id="fullname" formControlName="fullname" name="fullname"
                         placeholder="Nhập tên nhân viên"
                         required>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="username" class="form-label">Username: <span
                    style="color: red">(*)</span></label>
                  <input type="text" class="form-control" id="username" (change)="checkError()" formControlName="username" name="username"
                         placeholder="Nhập username nhân viên"
                         required>
                  <div> {{messageUsername}}</div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">Số Chứng Minh Thư: <span style="color: red">(*)</span></label>
                  <input type="text" class="form-control"  (change)="checkError()" formControlName="cccd"
                         placeholder="Nhập chứng minh thư" name="cccd" required>
                  <div> {{messageCccd}}</div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">Số Điện Thoại: <span style="color: red">(*)</span></label>
                  <input type="text" class="form-control" (change)="checkError()" formControlName="numberPhone"
                         placeholder="Nhập số điện thoại" required>
                  <span >{{messagePhone}}</span>
                </div>

                <div class="mb-3 col-md-6">
                  <label class="form-label">Email: <span style="color: red">(*)</span></label>
                  <input type="text" class="form-control" (change)="checkError()" formControlName="email" name="email"
                         placeholder="Nhập email" required>
                  <span >{{messageEmail}}</span>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">Địa chỉ: <span style="color: red">(*)</span></label>
                  <input type="text" class="form-control" formControlName="address" name="address"
                         placeholder="Nhập địa chỉ" required>
                </div>
                <div class="mb-3 col-md-6">
                  <div class="col-4">
                    <label class="col-form-label">Chức vụ (<label style="color:red">*</label>)</label>
                  </div>
                  <div class="col-8">
                    <select class="form-control" formControlName="role">
                      <option [value]="1">Admin</option>
                      <option [value]="2">Staff</option>
                      <option [value]="3">User</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3 mb-3"></div>
                <div class="col-md-3 mb-3">
                  <button (click)="update()"  type="submit" class="btn btn-success"
                  >Thêm Nhân Viên
                  </button>
                </div>
                <div class="col-md-3 mb-3">
                  <button type="submit" class="btn btn-success"
                  >Hủy
                  </button>
                </div>
                <div class="col-md-3 mb-3"></div>
              </div>
              <div class="row">

              </div>

            </form>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
  <admin-footer></admin-footer>
</main>
<!--Main layout-->
