<div class="container">
  <div class="row mt-5">

    <div class="col-sm-12 col-2 col-md-2">
      <div class="row">
        <div class="user-circle"><i class="far fa-user-circle"></i> <b></b>
          <hr>
        </div>
      </div>
      <div class="row">
        <button class="btn-outline-success btn" >Đơn mua</button>
        <button class="btn-outline-success btn mt-2"  >Đổi mật khẩu</button>
      </div>
    </div>
    <div class="col-sm-12 col-9 col-md-9" style="background-color: white">
      <div class="row">
        <div class="col-12"><h2>Hồ Sơ Của Tôi</h2></div>
        <div class="col-12" style="margin-left: 20px;margin-top: -9px">
          <span>Quản lý thông tin hồ sơ để bảo mật tài khoản</span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form class="row g-3 was-validated" >
            <div class="mb-3 col-md-12">
              <label class="form-label">Tài Khoản Đăng Nhập: </label>
              <input type="text" class="form-control" formControlName="account"
                     placeholder="Nhập tài khoản" readonly>

            </div>
            <div class="mb-3 col-md-12">
              <label for="nameProduct" class="form-label">Tên Khách Hàng: <span
                style="color: red">(*)</span></label>
              <input type="text" class="form-control" id="nameProduct" formControlName="nameCustomer"
                     placeholder="Nhập tên khách hàng"
                     required>

            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Số Điện Thoại: <span style="color: red">(*)</span></label>
              <input type="text" class="form-control" formControlName="phone"
                     placeholder="Nhập số điện thoại" required>

            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Email: <span style="color: red">(*)</span></label>
              <input type="text" class="form-control" formControlName="email"
                     placeholder="Nhập email" required>

            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Chứng Minh Thư: <span style="color: red">(*)</span></label>
              <input type="text" class="form-control" formControlName="idCard"
                     placeholder="Nhập chứng minh thư" required>

            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Địa Chỉ: <span style="color: red">(*)</span></label>
              <input type="text" class="form-control" formControlName="address"
                     placeholder="Nhập địa chỉ" required>

            </div>
            <div class="col-md-12 mb-3">
              <button type="submit" class="btn btn-success" style="text-align: center"
                      >Lưu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
