<!--Main Navigation-->
<admin-header></admin-header>
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container pt-4 main-layout">
    <span>
      <h3>Chi tiết nhà phân phối</h3> <button class="btn btn-outline-success"><i class="fa-solid fa-file-pen"></i></button>
    </span>
    <form action="" method="post">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="name-distributor" class="form-label">Tên nhà phân phối</label>
            <input type="text" class="form-control" id="name-distributor">
          </div>
          <div class="mb-3">
            <label class="form-label">Trạng thái</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="address-distributor" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="address-distributor">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="phone-distributor" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phone-distributor">
          </div>
          <div class="mb-3">
            <label for="createDate-distributor" class="form-label">Ngày gia nhập</label>
            <input type="text" class="form-control" id="createDate-distributor">
          </div>
          <div class="mb-3">
            <label for="email-distributor" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-distributor">
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary" type="button">Lưu</button>
        </div>
      </div>
    </form>
  </div>

  <admin-footer></admin-footer>
</main>
<!--Main layout-->
