<div class="app">
    <div class="sign-up">
        <div class="sign-up_left float-start">
            <div class="sign-up_title">
                <p>SIGN UP</p>
            </div>
            <div class="sign-up_form mt-2">
                <form action="">
                    <div class="mb-3">
                        <label for="full-name" class="form-label">Full name</label>
                        <input type="text" class="form-control" id="full-name">
                    </div>
                    <div class="mb-3">
                        <label for="user-name" class="form-label">User name</label>
                        <input type="text" class="form-control" id="user-name">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <label for="re-password" class="form-label">Repeat Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="re-password" aria-describedby="button-addon2">
                        <button class="btn btn-light" type="button" id="button-addon2"><i class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="mb-3 text-center sign-up_form--button">
                        <button>Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="sign-up_right text-center float-end">
            <div class="sign-up_logo">
                <img src="../../../assets/image/bonbon-healthy-food-online-shopping.png" alt="">
            </div>
            <div class="sign-up_text">
                <a href="">I am already member</a>
            </div>
            
        </div>
    </div>
</div>
